<div class="payments">
  <hr>
  <% if current_user.payments.any? %>
    <% @payments.each do |payment| %>
    <ul class="category-list">
    <li>
      <div class="name-container">
      <div class="fill">
              <b class="fill"><%= payment.name %></b>
          </div>
          <div class="fill">
              <b class="fill">$<%= payment.amount %></b>
          </div>
      </div>
        
      <div class="fill">
        <b class="fill"><%= button_to "Delete", user_category_payment_path(payment.category_id, payment), class: "del-btn fill", method: :delete %></b>
      </div>
    </li>
    </ul>
    <% end %>
  <% else %>
    <p class="fill">No payments to display.</p>
  <% end %>
</div>