<h1>New Payment</h1>

<%= form_with model: @payment, url: user_category_payments_path, local: true, method: :post, scope: :payment do |f| %>
 
  <div>
    <%= f.text_field :name, placeholder: "Name", rows: "8", required: true, class: "text_field", placeholder: "Name" %>
  <div>

  <div>
    <%= f.text_field :amount, required: true, class: "text_field", placeholder: "amount" %>
  </div>
            <%= f.submit "Create ", class: 'button' %>
<% end %>